language: node_js
node_js:
- '8'
- node
branches:
  only:
  - v4
cache:
  directories:
  - "$HOME/.npm"
env:
  global:
    - DEBUG=ember-cli-update,boilerplate-update,git-diff-apply,git-fixtures
jobs:
  allow_failures:
  - os: osx
  include:
  - os: osx
  - script:
    - npm run lint
