environment:
  matrix:
    - nodejs_version: "8"

branches:
  only:
    - v4

# Fix line endings in Windows. (runs before repo cloning)
init:
  - git config --global core.autocrlf true
  - set DEBUG=ember-cli-update,boilerplate-update,git-diff-apply,git-fixtures

# Install scripts. (runs after repo cloning)
install:
  - ps: Install-Product node $env:nodejs_version
  - npm ci

# Post-install test scripts.
test_script:
  - npm --version
  - npm test

# http://help.appveyor.com/discussions/questions/1310-delete-cache
cache:
  - node_modules -> package.json

# Don't actually build.
build: off
